/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/
div.buildheader {
	color: #ccc;	// always dark background, so lighter
	position: relative;
	clear: both;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 136px;
	margin-bottom: 1em;
    padding: 1em;
	-ms-interpolation-mode: bicubic;
}
div.buildheader > h1 > a {
	color: #ccc;	// always dark background, so lighter
}
