/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

.peticon {
	width: 128px;
	height: 128px;
	vertical-align: bottom;
	display: table-cell;
	font-weight: bold;
}

.indexdate {
    font-size: small;
}

.buildheader {
	color: var(--f2);
	position: relative;
	clear: both;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 136px;
	margin-bottom: 1em;
    padding: 1em;
	-ms-interpolation-mode: bicubic;
}

/*
table {
  margin: 0.5em;
  float: left;
  max-width: 35%;
}

td {
  white-space: nowrap;
}
*/

hr {
  clear: both;
}

div.boxed {
  padding: 0.5em;
  background-color: color-mix(in srgb, var(--c1), transparent 25%);
  border: 1px solid black;
}

div {
  clear: both;
}

.buildheader * {
	color: var(--f2);
}

.buildheader a {
	color: var(--a1);
	&:visited {
	  color: var(--a1);
	}
	&:hover {
	  color: var(--a2);
	}
}

.hflipbg {
	/* flip background */
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}

/* undo the flip for all child elements */
.hflipbg > * {
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}

.armory-inline {
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
}
.armory-inline .gw2a-skills-embed {
  display: inline-block;
  vertical-align: middle;
}
.armory-inline .gw2a-skills-embed > div {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  user-select: none;
}
.armory-inline .gw2a-traits-embed {
  display: inline-block;
  vertical-align: middle;
}
.armory-inline .gw2a-traits-embed > div {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  user-select: none;
}
.armory-inline .gw2a-items-embed {
  display: inline-block;
  vertical-align: middle;
}
.armory-inline .gw2a-items-embed > div {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  user-select: none;
}

/*
[data-aw2-key]{
  position: relative;
}

[data-aw2-key] .aw2-show-key{
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  box-sizing: border-box;
  min-width: 32px;
  height: 32px;
  line-height: 24px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}
[data-aw2-key-mapped] .aw2-show-key{
  border-right: 4px solid #f21368;
}
.aw2-key-map-notice{
  font-size: .6875em;
  background: #f21368;
  color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.aw2-key-map-notice>a{
  font-size: 1em;
  display: block;
  padding: 0.25rem 0.75rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
}

.aw2-key-display{
  font-size: small; 
  border: 0.2em solid; 
  border-color: #DDD #BBB #BBB #DDD; 
  padding: 0 0.4em; 
  background: #EEE; 
  white-space: nowrap; 
  border-radius: 2px;
  color:black;
}
[data-aw2-settings-key]{
  width: 100%;
  min-width: 250px;
}

.aw2-skill-loadout{
  display: flex;
  flex-direction: row;
  min-height: 72px;
  margin-bottom: 1.5em;
}
.aw2-skill-loadout-slot{
  position: relative;
  width: 64px;
  height: 72px;
  flex: 0 0 64px;
}
.aw2-skill-loadout-slot .aw2-show-key{
  position: absolute;
  top: 40px;
  right: 0;
  display: block;
  padding: 4px;
  box-sizing: border-box;
  min-width: 22px;
  min-height: 22px;
  height: auto;
  line-height: 18px;
  font-size: 16px;
  background-color: rgb(191, 191, 191);
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}
[data-aw2-key-mapped] .aw2-show-key{
  border-right: 4px solid #f21368;
}
.aw2-skill-inline{
  font-size: 32px;
  line-height: 32px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  display: block;
}
*/
