/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/
.buildheader {
	color: #ddd;	// always dark background, so lighter
	position: relative;
	clear: both;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 136px;
	margin-bottom: 1em;
    padding: 1em;
	-ms-interpolation-mode: bicubic;
}

.buildheader * {
	color: #ddd;	// always dark background, so lighter
}

.buildheader a {
	color: #f90;
	&:visited {
	  color: #f90;
	}
	&:hover {
	  color: #f90;
	}
}

.hflipbg {
	/* flip background */
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}

/* undo the flip for all child elements */
.hflipbg > * {
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}

