{% extends "base.html" %}
{%- set uglyurls = config.extra.uglyurls | default(value=false) -%}
{%- if config.extra.offline %}{% set uglyurls = true %}{% endif %}

{%- block seo %}
  {{- super() }}
  {%- set title = "Tags" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_seo::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
    {%- set_global filtered_terms = [] -%}
    {%- for term in terms %}
	  {%- for page in term.pages %}
        {%- if page.components is not containing("hidden") %}
		  {%- set_global filtered_terms = filtered_terms | concat(with=term) -%}
		  {%- break -%}
	    {%- endif -%}
	  {%- endfor -%}
    {%- endfor -%}
   
    <div>
      <div class="c">
        <h1>{{ filtered_terms | length }} {{ macros::translate(key="Tags", default="Tags", i18n=i18n) }} </h1>
        <p>{% for term in filtered_terms %}<span style='white-space: nowrap;'>{{ aw_macros::safeicon(icon=term.name) }}#<a href="#{{ term.name }}">{{ term.name }}</a><sup>{{ term.pages | length }}</sup></span> {% endfor %}</p>
      </div>
      {%- for term in filtered_terms %}
      <h2 id="{{ term.name }}">{{ aw_macros::safeicon(icon=term.name) }}#<a href="{{ term.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ term.name }}</a></h2>
        {%- for page in term.pages %}
          {%- if page.components is not containing("hidden") %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;{% if "specs" in page.taxonomies %}{{ aw_macros::safeicon(icon=page.taxonomies["specs"][0]) }}{% endif %}<a href="{{ page.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ page.title }}</a> - {% if page.updated -%}
                <time datetime="{{ page.updated }}">{{ page.updated | date(format="%F") }}</time> (U)</p>
            {%- else -%}
                <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></p>
            {%- endif -%}
	      {%- endif -%}
        {%- endfor %}
      {%- endfor %}
    </div>
{%- endblock content %}
