*       @berdandy

/content/builds/condi-mechanist.md 			@scoobysharky
/content/builds/condi-tempest.md			@scoobysharky
/content/builds/condi-virtuoso.md			@scoobysharky
/content/builds/condi-weaver.md				@scoobysharky
/content/builds/power-catalyst.md			@scoobysharky
/content/builds/power-holosmith-PBM.md		@scoobysharky
/content/builds/power-mechanist-hammer.md	@scoobysharky
/content/builds/power-soulbeast.md			@scoobysharky
/content/builds/power-vindicator.md			@scoobysharky
/content/builds/power-daredevil.md			@scoobysharky
/content/builds/quickness-power-harbinger	@scoobysharky

/content/builds/heal-alac-willbender.md		@xellink
/content/builds/power-deadeye.md			@xellink
/content/builds/power-dragonhunter.md		@xellink
/content/builds/condi-soulbeast.md			@xellink
