{# HARDCODED TO HELL #}

{# TODO: all the stats #}
{%- macro stat(name) -%}
{%- if name == "Viper's" -%} 1268
{%- elif name == "Berserker's" -%} 1077 
{%- elif name == "Dragon's" -%} 1697 
{%- elif name == "Celestial" -%} 1052	 
{%- else -%}
 {{ throw(message="Missing data! Add Stat " ~ name ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# TODO: all the runes #}
{%- macro rune(name) -%}
{%- if name == "Scholar" -%}24836
{%- elif name == "Monk" -%}24842 
{%- elif name == "Tempest" -%}76166 
{%- else -%}
 {{ throw(message="Missing data! Add Rune " ~ name ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# TODO: all the sigils #}
{%- macro sigil(name) -%}
{%- if name == "Hydromancy" -%} 24597
{%- elif name == "Geomancy" -%} 24605 
{%- elif name == "Force" -%} 24615 
{%- elif name == "Air" -%} 24554
{%- elif name == "Ice" -%} 24555
{%- elif name == "Cleansing" -%} 67340
{%- else -%}
 {{ throw(message="Missing data! Add Sigil " ~ name ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# TODO: all the relics #}
{%- macro relic(name) -%}
{%- if name == "Thief" -%} 100916 
{%- elif name == "Fireworks" -%} 100947 
{%- elif name == "Akeem" -%} 100432 
{%- else -%}
 {{ throw(message="Missing data! Add Relic " ~ name ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# ----------------------------------------------------------------------------------------- #}
{# reversed. Deprecated, use names as above #}

{# TODO: all the runes #}
{%- macro id2rune(id) -%}
{%- if id == "24836" -%} Scholar
{%- elif id == "24842" -%} Monk 
{%- else -%}
 {{ throw(message="Missing data! Add Rune " ~ id ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# TODO: all the sigils #}
{%- macro id2sigil(id) -%}
{%- if id == "91406" -%} Hydromancy 
{%- elif id == "91439" -%} Force 
{%- elif id == "91520" -%} Air
{%- else -%}
 {{ throw(message="Missing data! Add Sigil " ~ id ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# TODO: all the relics #}
{%- macro id2relic(id) -%}
{%- if id == "100916" -%} Thief 
{%- elif id == "100947" -%} Fireworks 
{%- else -%}
 {{ throw(message="Missing data! Add Relic " ~ id ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{# TODO: all the stats #}
{%- macro id2stat(id) -%}
{%- if id == "1077" -%} Berserker's
{%- elif id == "1697" -%} Dragon's
{%- else -%}
 {{ throw(message="Missing data! Add Stat " ~ id ~ " to templates/macros/gear.html") }}
{%- endif -%}
{%- endmacro -%}

{%- macro larmor(stat, rune) -%}
<hr/>
<table>
<thead><tr><th>Armor</th><th>Stat</th><th>Upgrade</th></tr></thead><tbody>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80248" data-armory-80248-upgrades="{{self::rune(name=rune)}}" data-armory-80248-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80131" data-armory-80131-upgrades="{{self::rune(name=rune)}}" data-armory-80131-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80190" data-armory-80190-upgrades="{{self::rune(name=rune)}}" data-armory-80190-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80111" data-armory-80111-upgrades="{{self::rune(name=rune)}}" data-armory-80111-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80356" data-armory-80356-upgrades="{{self::rune(name=rune)}}" data-armory-80356-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80399" data-armory-80399-upgrades="{{self::rune(name=rune)}}" data-armory-80399-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
</tbody></table>
{%- endmacro larmor -%}

{%- macro marmor(stat, rune) -%}
<hr/>
<table>
<thead><tr><th>Armor</th><th>Stat</th><th>Upgrade</th></tr></thead><tbody>
<tr><td><span class="armory-inline" data-armosry-embed="items" data-armory-ids="80296" data-armory-80296-upgrades="{{self::rune(name=rune)}}" data-armory-80296-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80145" data-armory-80145-upgrades="{{self::rune(name=rune)}}" data-armory-80145-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80578" data-armory-80578-upgrades="{{self::rune(name=rune)}}" data-armory-80578-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80161" data-armory-80161-upgrades="{{self::rune(name=rune)}}" data-armory-80161-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80252" data-armory-80252-upgrades="{{self::rune(name=rune)}}" data-armory-80252-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-esmbed="items" data-armory-ids="80281" data-armory-80281-upgrades="{{self::rune(name=rune)}}" data-armory-80281-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
</tbody></table>
{%- endmacro marmor -%}

{%- macro harmor(stat, rune) -%}
<hr/>
<table>
<thead><tr><th>Armor</th><th>Stat</th><th>Upgrade</th></tr></thead><tbody>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80384" data-armory-80384-upgrades="{{self::rune(name=rune)}}" data-armory-80384-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80435" data-armory-80435-upgrades="{{self::rune(name=rune)}}" data-armory-80435-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80254" data-armory-80254-upgrades="{{self::rune(name=rune)}}" data-armory-80254-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80205" data-armory-80205-upgrades="{{self::rune(name=rune)}}" data-armory-80205-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80277" data-armory-80277-upgrades="{{self::rune(name=rune)}}" data-armory-80277-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="80557" data-armory-80557-upgrades="{{self::rune(name=rune)}}" data-armory-80557-stat="{{self::stat(name=stat)}}"></span></td><td>{{stat}}</td><td><span class="armory-inline" data-armory-embed="items" data-armory-ids="{{self::rune(name=rune)}}"></span> {{rune}}</td></tr>
</tbody></table>
{%- endmacro harmor -%}

{%- macro weapon_main(itemid, typedesc, stat, sigil) -%}
<table>
<thead><tr><th>Weapon</th><th>Type</th><th>Stat</th><th>Upgrade</th></tr></thead><tbody>
<tr>
	<td><span class="armory-inline" data-armory-embed="items" 
		data-armory-ids="{{itemid}}" 
		data-armory-{{itemid}}-upgrades="{{self::sigil(name=sigil)}}"
		data-armory-{{itemid}}-stat="{{self::stat(name=stat)}}"></span></td>
	<td>{{typedesc}}</td>
	<td>{{stat}}</td>
	<td><span class="armory-inline" data-armory-embed="items" 
		data-armory-ids="{{self::sigil(name=sigil)}}"></span> {{sigil}}</td>
</tr>
{%- endmacro weapon_main -%}

{%- macro weapon_off(itemid, typedesc, stat, sigil) -%}
<tr>z
	<td><span class="armory-inline" data-armory-embed="items" s
		data-armory-ids="{{itemid}}" 
		data-armory-{{itemid}}-upgrades="{{self::sigil(name=sigil)}}"
		data-armory-{{itemid}}-stat="{{self::stat(name=stat)}}"></span></td>
	<td>{{typedesc}}</td>
	<td>{{stat}}</td>
	<td><span class="armory-inline" data-armory-embed="items" 
		data-armory-ids="{{self::sigil(name=sigil)}}"></span> {{sigil}}</td>
</tr>
</tbody></table>
{%- endmacro weapon_off -%}

{%- macro weapon_2h(itemid, typedesc, stat, sigils) -%}
<table>
<thead><tr><th>Weapon</th><th>Type</th><th>Stat</th><th>Upgrade</th></tr></thead><tbody>
<tr>
	<td><span class="armory-inline"
		data-armory-embed="items"
		data-armory-ids="{{itemid}}"
		data-armory-{{itemid}}-upgrades="{{self::sigil(name=sigils[0])}},{{self::sigil(name=sigils[1])}}"
		data-armory-{{itemid}}-stat="{{self::stat(name=stat)}}"></span></td>
	<td>{{typedesc}}</td>
	<td>{{stat}}</td>
	<td><span class="armory-inline" data-armory-embed="items"
		data-armory-ids="{{self::sigil(name=sigils[0])}}"></span> {{sigils[0]}}</td>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td><span class="armory-inline" data-armory-embed="items"
		data-armory-ids="{{self::sigil(name=sigils[1])}}"></span> {{sigils[1]}}</td>
</tr>
</tbody></table>
{%- endmacro weapon_2h -%}

{%- macro trinkets(stat, relic, alternative) -%}
<hr/>
<table><thead><tr><th>Trinkets</th><th>Type</th><th>Stat</th></tr></thead><tbody>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="74155" 
	data-armory-74155-stat="{{self::stat(name=stat)}}"></span></td><td>Back item</td><td> {{stat}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="95380" 
	data-armory-95380-stat="{{self::stat(name=stat)}}"></span></td><td>Amulet</td><td> {{stat}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="81908" 
	data-armory-81908-stat="{{self::stat(name=stat)}}"></span></td><td>Accessory</td><td> {{stat}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="91048" 
	data-armory-91048-stat="{{self::stat(name=stat)}}"></span></td><td>Accessory</td><td> {{stat}}</td></tr>
</tbody></table>
<table><thead><tr><th>Trinkets</th><th>Type</th><th>Stat</th></tr></thead><tbody>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="93105" 
	data-armory-93105-stat="{{self::stat(name=stat)}}"></span></td><td>Ring</td><td> {{stat}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="91234" 
	data-armory-91234-stat="{{self::stat(name=stat)}}"></span></td><td>Ring</td><td> {{stat}}</td></tr>
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="{{self::relic(name=relic)}}"></span></td><td>Relic</td><td> {{relic}} </td></tr>
{%- if alternative -%}
<tr><td><span class="armory-inline" data-armory-embed="items" 
	data-armory-ids="{{self::relic(name=alternative)}}"></span></td><td>Relic (alternative)</td><td> {{alternative}} </td></tr>
{%- endif -%}
</tbody></table>
<hr/>
{%- endmacro trinkets -%}
