{#
This Template Shows the Posts Grouped by Balance: example.com/balance/
TODO: sort them chronologically
#}

{% extends "base.html" %}
{%- set uglyurls = config.extra.uglyurls | default(value=false) -%}
{%- if config.extra.offline %}{% set uglyurls = true %}{% endif %}

{%- block seo %}
  {{- super() }}
  {%- set title = "Balance Archive" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_seo::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
    {#- The following line is checking if the template is being used for the archive page or a section #}
    {%- if current_path is matching("^(/[[:alpha:]][[:alpha:]])?/balance/$") %}
      {%- if section.extra.sec %}
        {%- set sec = section.extra.sec ~ "/" %}
      {%- else %}
        {%- set sec = "" %}
      {%- endif %}
    {%- else %}
      {%- set langpath = "/" %}
      {%- if lang != config.default_language %}
        {%- set langpath = "/" ~ lang ~ "/" %}
      {%- endif %}

      {%- set sec = current_path | trim_start_matches(pat=langpath) | split(pat="/page/") | slice(end=1) | join(sep="") | trim_end_matches(pat="/") %}
      {%- set sec = sec ~ "/" %}
    {%- endif %}

    {%- if lang == config.default_language %}
    {%- set section_item = get_section(path=sec ~ "_index.md") %}
    {%- else %}
    {%- set section_item = get_section(path=sec ~ "_index." ~ lang ~ ".md") %}
    {%- endif %}
    {%- if sec != "" %}
      {#- the section always overrides the config -#}
      {%- if section_item.extra and 'hide_section_dates' in section_item.extra -%}
        {%- set hide_section_dates = section_item.extra.hide_section_dates -%}
      {%- elif config.extra.hide_section_dates -%}
        {%- set hide_section_dates = true -%}
      {%- endif -%}
    {%- endif %}
    <div>
      {%- if section_item.title %}
      <h2>{{ section_item.title }}</h2>
      {%- endif %}
      {{- section_item.content | safe }}
      {%- if config.extra.archive_reverse %}
      {%- for balance, posts in section_item.pages | sort(attribute="extra.balance") | reverse | group_by(attribute="extra.balance") %}
      {%- if not hide_section_dates %}
      {%- if section_item.title %}
      <h3>{{ balance }}</h3>
      {%- else %}
      <h2>{{ balance }}</h2>
      {%- endif %}
      {%- endif %}
      {%- for post in posts %}
      {%- if post.components is not containing("hidden") %}
        <p><a href="{{ post.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ post.title }}</a>
		{%- if post.extra.benchmark %} - {{ post.extra.benchmark }}{%- endif -%}
		{%- if post.extra.apm %} - {{ post.extra.apm }}&nbsp;APM{%- endif -%}
		{%- if not hide_section_dates %} - {% if post.updated -%}
		    <time datetime="{{ post.updated }}">{{ post.updated | date(format="%F") }}</time> (U)
		  {%- else -%}
		    <time datetime="{{ post.date }}">{{ post.date | date(format="%F") }}</time>
		  {%- endif -%}
		{%- endif -%}
	</p>
      {%- endif -%}
      {%- endfor %}
      {%- endfor %}
      {%- else %}
      {%- for balance, posts in section_item.pages | sort(attribute="extra.balance") | reverse | group_by(attribute="extra.balance") %}
      {%- if not hide_section_dates %}
      {%- if section_item.title %}
      <h3>{{ balance }}</h3>
      {%- else %}
      <h2>{{ balance }}</h2>
      {%- endif %}
      {%- endif %}
      {%- for post in posts %}
      {%- if post.components is not containing("hidden") %}
		  <p><a href="{{ post.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ post.title }}</a>
		  {%- if post.extra.benchmark %} - {{ post.extra.benchmark }}{%- endif -%}
		  {%- if post.extra.apm %} - {{ post.extra.apm }}&nbsp;APM{%- endif -%}
		  {%- if not hide_section_dates %} - {{ aw_macros::updated_date(page=post) }}{%- endif -%}
		  {{- aw_macros::balance_index(page=post, config=config) }}
	  {%- endif -%}
      {%- endfor %}
      {%- endfor %}
      {%- endif %}
    </div>

{%- endblock content %}
